BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

NamespaceIndentation: All
AccessModifierOffset: -2
BreakBeforeBraces: Attach
PointerAlignment: Left
IndentCaseLabels: true

SortIncludes: true
IncludeBlocks: Regroup

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
Cpp11BracedListStyle: false
SpacesInContainerLiterals: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
BreakTemplateDeclarations: Yes
KeepEmptyLinesAtTheStartOfBlocks: false
