/shared/secrets/secrets.h
/**/build
boards/.test/

/.pio
/.vscode/
/compile_commands.json
/.cache

/system/build-bootloader/sdkconfig
/system/build-bootloader/sdkconfig.old
/system/bootloaders/*

**.pem
